flow1_Continued.json
[
    {
        "id": "51533121313128ad",
        "type": "tab",
        "label": "Flow1-Continued",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3b1a6d870e2b723d",
        "type": "mqtt in",
        "z": "51533121313128ad",
        "name": "Receive MQTT",
        "topic": "sqlite/to/MySql",
        "qos": "1",
        "datatype": "json",
        "broker": "1ded3a7d0c86223a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 260,
        "wires": [
            [
                "701a8c4988967ca3",
                "bfe53514ef701a9d"
            ]
        ]
    },
    {
        "id": "64019938f037755d",
        "type": "mysql",
        "z": "51533121313128ad",
        "mydb": "4d1239c1fe948326",
        "name": "CloudMySQL",
        "x": 780,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "701a8c4988967ca3",
        "type": "function",
        "z": "51533121313128ad",
        "name": "function 1",
        "func": "msg.topic = \"INSERT INTO users (id, name) VALUES (?, ?)\";\nmsg.payload = [msg.payload[0].id, msg.payload[0].name]; // Extract first row as [id, name]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 260,
        "wires": [
            [
                "64019938f037755d",
                "b620799692fe9e12"
            ]
        ]
    },
    {
        "id": "bfe53514ef701a9d",
        "type": "debug",
        "z": "51533121313128ad",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 180,
        "wires": []
    },
    {
        "id": "b620799692fe9e12",
        "type": "debug",
        "z": "51533121313128ad",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 180,
        "wires": []
    },
    {
        "id": "1ded3a7d0c86223a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4d1239c1fe948326",
        "type": "MySQLdatabase",
        "name": "Cloud MySQL",
        "host": "mysql-317386cb-learning-fe9c.i.aivencloud.com",
        "port": "10599",
        "db": "defaultdb",
        "tz": "",
        "charset": "UTF8"
    }
]