flow3.json
[
    {
        "id": "fbc7525fdf5128ad",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "082debc3ad6c15b2",
        "type": "ui_button",
        "z": "fbc7525fdf5128ad",
        "name": "PROBLEM2",
        "group": "dashboard_group",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "PROBLEM2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "click",
        "payloadType": "str",
        "topic": "problem",
        "topicType": "str",
        "x": 230,
        "y": 300,
        "wires": [
            [
                "6db99352c9276690"
            ]
        ]
    },
    {
        "id": "73ef049c6943fa09",
        "type": "ui_button",
        "z": "fbc7525fdf5128ad",
        "name": "ACK2",
        "group": "dashboard_group",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ACK2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "click",
        "payloadType": "str",
        "topic": "ack",
        "topicType": "str",
        "x": 210,
        "y": 460,
        "wires": [
            [
                "d6edf2e7e0a4d13e"
            ]
        ]
    },
    {
        "id": "6db99352c9276690",
        "type": "function",
        "z": "fbc7525fdf5128ad",
        "name": "Handle Problem",
        "func": "let isProblemActive = flow.get('isProblemActive') || 0;\nisProblemActive = isProblemActive === 0 ? 1 : 0;\nflow.set('isProblemActive', isProblemActive);\n\n// Do not send value to the button, only to display\nlet isAckActive = flow.get('isAckActive') || 0;\n\nmsg.payload = {\n    isProblemActive,\n    isAckActive\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 360,
        "wires": [
            [
                "d1845c961e9e94f5",
                "d33497a5d3417bb9"
            ]
        ]
    },
    {
        "id": "d6edf2e7e0a4d13e",
        "type": "function",
        "z": "fbc7525fdf5128ad",
        "name": "Handle ACK",
        "func": "let isAckActive = flow.get('isAckActive') || 0;\nisAckActive = isAckActive === 0 ? 1 : 0;\nflow.set('isAckActive', isAckActive);\n\nlet isProblemActive = flow.get('isProblemActive') || 0;\n\nmsg.payload = {\n    isProblemActive,\n    isAckActive\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 440,
        "wires": [
            [
                "d1845c961e9e94f5",
                "efef5cd0a70b182d"
            ]
        ]
    },
    {
        "id": "d1845c961e9e94f5",
        "type": "ui_template",
        "z": "fbc7525fdf5128ad",
        "group": "dashboard_group",
        "name": "Display States",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<div style=\"font-size: 18px;\">\n    <p>\n        <strong>ACK State:</strong>\n        <span style=\"color: {{msg.payload.isAckActive ? 'green' : 'red'}};\">\n            {{msg.payload.isAckActive ? 'Yes' : 'No'}}\n        </span>\n    </p>\n    <p>\n        <strong>Problem State:</strong>\n        <span style=\"color: {{msg.payload.isProblemActive ? 'green' : 'red'}};\">\n            {{msg.payload.isProblemActive ? 'Yes' : 'No'}}\n        </span>\n    </p>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 920,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "837ee71f4b1a1793",
        "type": "inject",
        "z": "fbc7525fdf5128ad",
        "name": "TestProblem",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "problem",
        "payload": "",
        "payloadType": "date",
        "x": 370,
        "y": 200,
        "wires": [
            [
                "6db99352c9276690"
            ]
        ]
    },
    {
        "id": "d33497a5d3417bb9",
        "type": "debug",
        "z": "fbc7525fdf5128ad",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 220,
        "wires": []
    },
    {
        "id": "3549d29da56350e6",
        "type": "inject",
        "z": "fbc7525fdf5128ad",
        "name": "TestACK",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ack",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 580,
        "wires": [
            [
                "d6edf2e7e0a4d13e"
            ]
        ]
    },
    {
        "id": "efef5cd0a70b182d",
        "type": "debug",
        "z": "fbc7525fdf5128ad",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 580,
        "wires": []
    },
    {
        "id": "dashboard_group",
        "type": "ui_group",
        "name": "Simulation",
        "tab": "dashboard_tab",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "dashboard_tab",
        "type": "ui_tab",
        "name": "Simulation",
        "icon": "dashboard"
    }
]