flow4.json
[
    {
        "id": "1933e79199d30761",
        "type": "tab",
        "label": "Flow5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dd93bcc085e8ba57",
        "type": "inject",
        "z": "1933e79199d30761",
        "name": "Node1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "6b02247a05d2234b"
            ]
        ]
    },
    {
        "id": "8372267ce1db603c",
        "type": "inject",
        "z": "1933e79199d30761",
        "name": "Node3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "6b02247a05d2234b"
            ]
        ]
    },
    {
        "id": "aa64066c68649389",
        "type": "inject",
        "z": "1933e79199d30761",
        "name": "Node2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Node2",
        "payloadType": "str",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "6b02247a05d2234b"
            ]
        ]
    },
    {
        "id": "6e4e3d8eb053cc12",
        "type": "inject",
        "z": "1933e79199d30761",
        "name": "Node4",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "6b02247a05d2234b"
            ]
        ]
    },
    {
        "id": "4b4855eefa892f37",
        "type": "inject",
        "z": "1933e79199d30761",
        "name": "Node5",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "6b02247a05d2234b"
            ]
        ]
    },
    {
        "id": "3c75cc347701ac07",
        "type": "inject",
        "z": "1933e79199d30761",
        "name": "Node6",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 280,
        "wires": [
            [
                "6b02247a05d2234b"
            ]
        ]
    },
    {
        "id": "19b0f8b1a28e529c",
        "type": "inject",
        "z": "1933e79199d30761",
        "name": "Node7",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 320,
        "wires": [
            [
                "6b02247a05d2234b"
            ]
        ]
    },
    {
        "id": "99a4a2b769e7e3c1",
        "type": "inject",
        "z": "1933e79199d30761",
        "name": "Node8",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 360,
        "wires": [
            [
                "6b02247a05d2234b"
            ]
        ]
    },
    {
        "id": "85324261e0f2f8d6",
        "type": "inject",
        "z": "1933e79199d30761",
        "name": "Node9",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 400,
        "wires": [
            [
                "6b02247a05d2234b"
            ]
        ]
    },
    {
        "id": "b72f8a51b95cb87b",
        "type": "inject",
        "z": "1933e79199d30761",
        "name": "Node10",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 440,
        "wires": [
            [
                "6b02247a05d2234b"
            ]
        ]
    },
    {
        "id": "8756214fc7c493df",
        "type": "inject",
        "z": "1933e79199d30761",
        "name": "Node11",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 480,
        "wires": [
            [
                "6b02247a05d2234b"
            ]
        ]
    },
    {
        "id": "c4b1c00a2a2b0acc",
        "type": "inject",
        "z": "1933e79199d30761",
        "name": "Node12",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 520,
        "wires": [
            [
                "6b02247a05d2234b"
            ]
        ]
    },
    {
        "id": "4e3bf89ef4192222",
        "type": "inject",
        "z": "1933e79199d30761",
        "name": "Node13",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 560,
        "wires": [
            [
                "6b02247a05d2234b"
            ]
        ]
    },
    {
        "id": "f5b63cf524eb99d9",
        "type": "inject",
        "z": "1933e79199d30761",
        "name": "Node14",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 600,
        "wires": [
            [
                "6b02247a05d2234b"
            ]
        ]
    },
    {
        "id": "16c97f16bb7ad9cc",
        "type": "inject",
        "z": "1933e79199d30761",
        "name": "Node15",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 640,
        "wires": [
            [
                "6b02247a05d2234b"
            ]
        ]
    },
    {
        "id": "b5e1f289c453253d",
        "type": "inject",
        "z": "1933e79199d30761",
        "name": "Node16",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 680,
        "wires": [
            [
                "6b02247a05d2234b"
            ]
        ]
    },
    {
        "id": "7de73ce8e112f2b7",
        "type": "inject",
        "z": "1933e79199d30761",
        "name": "Node17",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 720,
        "wires": [
            [
                "6b02247a05d2234b"
            ]
        ]
    },
    {
        "id": "0115b69cec8cab10",
        "type": "inject",
        "z": "1933e79199d30761",
        "name": "Node18",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 760,
        "wires": [
            [
                "6b02247a05d2234b"
            ]
        ]
    },
    {
        "id": "3bae72432dea6017",
        "type": "inject",
        "z": "1933e79199d30761",
        "name": "Node19",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 800,
        "wires": [
            [
                "6b02247a05d2234b"
            ]
        ]
    },
    {
        "id": "38cce17691122c40",
        "type": "inject",
        "z": "1933e79199d30761",
        "name": "Node20",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 840,
        "wires": [
            [
                "6b02247a05d2234b"
            ]
        ]
    },
    {
        "id": "6b02247a05d2234b",
        "type": "function",
        "z": "1933e79199d30761",
        "name": "MainFunction",
        "func": "msg.payload = `Output triggered by ${msg.payload}`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 420,
        "wires": [
            [
                "e690eaa408a88818"
            ]
        ]
    },
    {
        "id": "e690eaa408a88818",
        "type": "debug",
        "z": "1933e79199d30761",
        "name": "FinalOutput",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 420,
        "wires": []
    }
]